
<!-- Background image -->

<div
  class="bg-image"
  
  style="
    background-image: url('https://images.unsplash.com/photo-1587974136998-4fcc253b6183?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2910&q=80');
    height: 93vh; width: 187vh;
    background-position: center;
    background-size: cover
    
  "
></div>
<!-- Background image -->

