/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.bg-img {
    height: 100vh;
    width: 100vw;
    object-fit: cover; 
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
}

.img2, .img3 { 
    height: 88vh;
    width: 49vw;
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .centered2 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-decoration: none;
    font-size: 20px;
  }

  .centered2:hover {
    background-color: rgb(40, 111, 134);
  }


    @media (min-width: 1025px) {
    .h-custom-2 {
    height: 100%;
    }
    }


    .navbar  {
      margin-bottom: 20px;
    }

    .review  {
      margin-top: 150px;
      margin-left: 80px;
      
    }
.scroll {
  overflow: hidden; 
}


.form{
  background-color: rgb(40, 111, 134);
  color: white;
}

.edit-form {
  background-color: rgb(189, 150, 161);
}

.review {
  color: white;
}
.link2 {
  text-decoration: none;
  color: white;
  
}



/* .guide:hover {
  background-color: rgb(63, 140, 165);
} */

.image {
 width: 100%;

height: 100%;

display: flex;

justify-content: center;

align-items: center;

text-align: center;
}

.guide-list {
  box-sizing: content-box;  
  width: 350px;
  height: 350 px;
  padding: 30px;  
  
}

.button {
 margin-left: 95px;
 padding-bottom: 20px;
}


.guide {
  margin-left: 95px;
  padding-top: -20px;
  padding-bottom: 20px;
}

.display-show, .display-index {
  color:  rgb(93, 199, 236);
  text-align: center;
}