<div id="<%= dom_id guide %>">
  <p>
    <strong>Name:</strong>
    <%= guide.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= guide.location %>
  </p>

  <p>
    <strong>Rate:</strong>
    <%= guide.rate %>
  </p>

</div>
