<p style="color: green"><%= notice %></p>

<h1>Reviews</h1>

<div id="guides">
  <% @guides.each do |guide| %>
    <%= render guide %>
    <p>
      <%= link_to "Show this guide", guide %>
    </p>
  <% end %>
</div>


